#include <windows.h>
#include "Resource.h"

IDI_MYICON ICON "icon.ico"

IDR_MYMENU MENU
BEGIN
    POPUP "&File"
    BEGIN
      MENUITEM "E&xit", ID_FILE_EXIT
    END    
    POPUP "&Help"
    BEGIN
        MENUITEM "&About", ID_ABOUT_HELP
    END
END

IDD_ABOUT DIALOG DISCARDABLE  0, 0, 239, 66
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About"
FONT 8, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON   "&OK",IDOK,174,18,50,14
    PUSHBUTTON      "&Cancel",IDCANCEL,174,35,50,14
    GROUPBOX        "Example v1.0",IDC_STATIC,7,7,225,52
    CTEXT           "robert@mwmw.ca",IDC_STATIC,16,18,144,33
END


IDD_GET_NUMBER DIALOG DISCARDABLE  0, 0, 400, 200
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Set Value"
FONT 8, "MS Sans Serif" //this sets font for everything in dialog
BEGIN
LTEXT           "Value ", IDC_SUB_TITLE, 16, 22, 150, 14
LTEXT           "Min: ", IDC_MIN_VALUE, 16, 56, 150, 32
LTEXT           "Max: ", IDC_MAX_VALUE, 16, 72, 150, 32
EDITTEXT        ID_VALUE, 16, 37, 50, 14, ES_RIGHT
//LTEXT           "Min: 100", IDC_STATIC, 16, 52, 70, 14
//LTEXT           "Max: 300", IDC_STATIC, 16, 67, 70, 14
DEFPUSHBUTTON   "&OK", IDOK, 280, 22, 50, 14
PUSHBUTTON      "&Cancel", IDCANCEL, 280, 52, 50, 14
PUSHBUTTON      "1", IDC_NUM_1, 150, 22, 30, 30
PUSHBUTTON      "2", IDC_NUM_2, 190, 22, 30, 30
PUSHBUTTON      "3", IDC_NUM_3, 230, 22, 30, 30
PUSHBUTTON      "4", IDC_NUM_4, 150, 62, 30, 30
PUSHBUTTON      "5", IDC_NUM_5, 190, 62, 30, 30
PUSHBUTTON      "6", IDC_NUM_6, 230, 62, 30, 30
PUSHBUTTON      "7", IDC_NUM_7, 150, 102, 30, 30
PUSHBUTTON      "8", IDC_NUM_8, 190, 102, 30, 30
PUSHBUTTON      "9", IDC_NUM_9, 230, 102, 30, 30
//PUSHBUTTON      "-", IDC_NUM_DECIMAL, 150, 142, 30, 30
PUSHBUTTON      "0", IDC_NUM_0, 190, 142, 30, 30
PUSHBUTTON      "CLR", IDC_NUM_CLR, 230, 142, 30, 30
END


IDD_MOTOR_CONTROL DIALOG DISCARDABLE  0, 0, 650, 300
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Motor Control Settings"
FONT 8, "MS Sans Serif"
BEGIN
DEFPUSHBUTTON   "&OK", IDOK, 500, 18, 100, 64
PUSHBUTTON      "&Cancel", IDCANCEL, 500, 100, 100, 64

GROUPBOX        "Drum", IDC_STATIC, 8, 28, 400, 56
GROUPBOX        "Manifold", IDC_STATIC, 8, 100, 400, 56

PUSHBUTTON      "RPM", IDB_MCONTROL_RPM, 216, 43, 132, 32
PUSHBUTTON      "Distance", IDB_MCONTROL_DISTANCE, 216, 115, 132, 32

EDITTEXT        ID_MCONTROL_RPM, 32, 43, 132, 32, ES_RIGHT
EDITTEXT        ID_MCONTROL_DISTANCE, 32, 115, 132, 32, ES_RIGHT

LTEXT           "RPM", IDT_RPM, 164, 43, 50, 32
LTEXT           "mm", IDT_DISTANCE, 164, 115, 50, 32

END
